# Lists

In [9]:
x=3
a=[1,2]
c= len(a)
print(c)

2

In [10]:
d= a[len(a):] #confusion
print(d)

[]

In [11]:
a[len(a):] = [x]  #eqivalent to a.append(x)
a

[1, 2, 3]

In [12]:
#Add an item to the end of the list
a.append(x)
a

[1, 2, 3, 3]

In [13]:
a[len(a):] = [x]

In [16]:
a

[1, 2, 3, 3, 3]

In [17]:
x

3

# Extend
Extend the list by appending all the items from the iterable.

In [18]:
a = [1, 2, 3]
b = [4, 5, 6]

a.extend(b) #equivalent to a[len(a):]=[b]

print(a)

[1, 2, 3, 4, 5, 6]

# Insert
Insert an item at a given position. insert(position, variable)

In [29]:
a=[9,3,4,6]
b=[4,5,9]
a.insert(len(a), b) #a.insert(position, variable)
a

[9, 3, 4, 6, 3]

In [27]:
a=[9,3,4]
b=[4,5]
a.insert(2,b) #a.insert(position, variable)
a

[9, 3, [4, 5], 4]

# Remove
Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

In [36]:
a= [[7,8,4],4,5,6]
a.remove(4)
a

[[7, 8, 4], 5, 6]

# Pop

In [69]:
a=[4,5,6,7]
#so for remove the last item
a.pop()

7

In [70]:
a

[4, 5, 6]

In [72]:
a.pop(1)
a

[4, 6]

# Clear
remove all elements

In [41]:
a.clear()

In [42]:
a

[]

# index
list.index(x[, start[, end]])

In [43]:


a = [1, 2, 3, 4, 2]

# Find the index of the first occurrence of the value 2
index = a.index(2)

print(index)  # Output: 1

1

In [44]:
a = [1, 2, 3, 4, 2, 5]

# Find the index of the first occurrence of the value 2, starting from index 2
index = a.index(2, 2)

print(index)  # Output: 4

4

In [57]:
b=[4,5,5,6,7,5,8,9,5]
index = b.index(5,3) # Find the index of the first occurrence of the value 5, starting from index 3
print(index)

5

# Count(x)

In [66]:
a = [1, 2, 3, 4, 2, 5, 2]

# Count the number of occurrences of the value 2 in the list
count = a.count(2)

print(count)  # Output: 3

3

# List.Sort()

In [60]:
a = [4, 2, 7, 1, 5]

# Sort the list in place in ascending order
a.sort()

print(a)  # Output: [1, 2, 4, 5, 7]

[1, 2, 4, 5, 7]

In [61]:
data = [(1, 4), (3, 2), (5, 1)]

# Sort the list of tuples based on the second element of each tuple
data.sort(key=lambda x: x[1])

print(data)  # Output: [(5, 1), (3, 2), (1, 4)]

[(5, 1), (3, 2), (1, 4)]

# Reverse the order of elements in the list in place

In [62]:
a.reverse()

print(a)  # Output: [7, 5, 4, 2, 1]

[7, 5, 4, 2, 1]

In [63]:
a.copy()
print(a)

[7, 5, 4, 2, 1]

In [64]:
a[:]

[7, 5, 4, 2, 1]

#Using List as Queues

In [73]:
from math import pi
[str(round(pi,i)) for i in range(1,6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [74]:
matrix =[[1,2,3,4],
         [5,6,7,8],
         [9,10,11,12]]

In [76]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [77]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [80]:
matrix =[[1,2,3,4],
         [5,6,7,8],
         [9,10,11,12]]

transposed = []
for i in range(4):
    # the following 3 lines implement the nested listcomp
    print(i)
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
        print(transposed_row)
    transposed.append(transposed_row)

transposed

0
[1]
[1, 5]
[1, 5, 9]
1
[2]
[2, 6]
[2, 6, 10]
2
[3]
[3, 7]
[3, 7, 11]
3
[4]
[4, 8]
[4, 8, 12]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [83]:
#revise the documentation
transpose=[]
matrix =[[1,2,3,4],
         [5,6,7,8],
         [9,10,11,12]]

for i in range(4):
  transpose_row= []
  for row in matrix:
    transpose_row.append(row[i])
  transpose.append(transpose_row)
transpose

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

# 5.2 The del satement

In [84]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

# Tuples and Sequences

In [85]:
#Tuplea are immutable
t[0] =8888

NameError: ignored

In [87]:
empty = ()
singleton = 'hello',
len(empty)

0

In [88]:
len(singleton)

1

In [89]:
singleton

('hello',)

# Sets

In [91]:
# duplicates have been removed
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'orange', 'pear', 'banana', 'apple'}

In [92]:
'orange' in basket

True

In [93]:
'mango' in basket

False

In [94]:
a = set('amarnammasud')
b= set('amar')

In [95]:
a

{'a', 'd', 'm', 'n', 'r', 's', 'u'}

In [96]:
b

{'a', 'm', 'r'}

In [97]:
a-b

{'d', 'n', 's', 'u'}

In [98]:
a|b

{'a', 'd', 'm', 'n', 'r', 's', 'u'}

In [99]:
a & b

{'a', 'm', 'r'}

In [101]:
# letters in a or b but not both
a^b

{'d', 'n', 's', 'u'}

# 5.5 Dictionaries

In [102]:
tel ={'jack':432, 'rose':348}
tel['guido']= 853
tel

{'jack': 432, 'rose': 348, 'guido': 853}

In [103]:
del tel['jack']

In [104]:
tel

{'rose': 348, 'guido': 853}

In [105]:
list(tel)

['rose', 'guido']

In [107]:
sorted(tel)

['guido', 'rose']

In [108]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [109]:
{x: x**2 for x in range(1,10)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [110]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

# Looping technique

In [111]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [113]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [114]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [115]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(basket):
    print(i)

apple
apple
banana
orange
orange
pear

In [118]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [117]:
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]